@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
    @apply tracking-tighter;
}

.post{
    p{
        code{
            @apply bg-stone-200 rounded whitespace-normal;
        }
    }
    pre{
        @apply p-0 rounded overflow-hidden;
    }
    img{
        @apply rounded;
    }
}

.dark{
    .post{
        @apply text-white;
        code{
            @apply text-stone-200 bg-stone-700 rounded;
        }
        pre{
            code{
                @apply bg-transparent;
            }
        }
        p{
            @apply text-stone-400;
            code{
                @apply text-stone-200 bg-stone-700 p-1 rounded;
            }
        }
        h1, h2, h3, h4, h5, h6, strong, i{
            @apply text-stone-200;
        }
        a{
            @apply text-stone-100;
        }
    }
}

.prose pre {
    @apply rounded-md p-5 bg-stone-900! dark:bg-stone-800!;
    code{
        @apply p-5;
    }
}

#sun{
    transform: translate3d(0, 0px, 0);
}
#moon{
    transform: translate3d(0, 0px, 0);
}

#darkToggle:hover{
    #sun{
        transform: translate3d(0, 10px, 0);
    }
    #moon{
        transform: translate3d(0, 10px, 0);
    }
}


.horizon{
    .setting{
        animation: 1s ease 0s 1 setting;
    }
    .rising{
        animation: 1s ease 0s 1 rising;
    }
}

@keyframes setting {
    0% {
        transform: translate3d(0, 10px, 0)
    }

    40% {
        transform: translate3d(0, -2px, 0)
    }

    to {
        transform: translate3d(0, 30px, 0)
    }
}

@keyframes rising {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0)
    }

    40% {
        opacity: 1;
        transform: translate3d(0, -2px, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 10, 0)
    }
}
